<!-- app/views/produtos/form.html.erb -->
<%= stylesheet_link_tag 'produtos_form', media: 'all' %>


<h1><%= action_name == 'new' ? 'Novo Produto' : 'Editar Produto' %></h1>

<%= form_with model: @produto, url: action_name == 'new' ? produtos_path : produto_path(@produto), local: true do |form| %>
  <%= form.label :nome, 'Nome' %>
  <%= form.text_field :nome %>

  <%= form.label :descricao, 'Descrição' %>
  <%= form.text_area :descricao %>

  <%= form.label :preco, 'Preço' %>
  <%= form.number_field :preco, step: 0.01 %>

  <%= form.label :quantidade, 'Quantidade' %>
  <%= form.number_field :quantidade, step: 1 %>

  <%= form.label :imagem, 'Imagem' %>
  <%= form.file_field :imagem %>



  <%= form.submit action_name == 'new' ? 'Criar Produto' : 'Atualizar Produto' %>
<% end %>

<%= link_to 'Voltar', produtos_path %>
