<!DOCTYPE html>
<html>
  <head>
    <title>Mundo De Princesa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/svg+xml" href="/assets/logo.svg">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Meta dados para SEO -->
    <meta name="description" content="Mundo De Princesa - Loja online de venda de laços">
    <meta name="keywords" content="Mundo De Princesa, laços, venda de laços, site de venda de laços, laços, loja online">
    <meta name="author" content="Fernando Melo">

    <!-- Meta dados para redes sociais -->
    <meta property="og:title" content="Mundo De Princesa - Loja online de venda de laços">
    <meta property="og:description" content="Mundo De Princesa é uma loja online especializada em venda de laços.">
    <meta property="og:image" content="https://mundo-de-princesa-production.up.railway.app/assets/logo.svg">
    <meta property="og:url" content="https://mundo-de-princesa-production.up.railway.app/">
    <meta property="og:type" content="website">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <%= render 'layouts/navbar_top' %>

    <%= render 'layouts/navbar_bottom' %>
    
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
